#ignore all
*
#unignore files with extension
!*.*
#unignore subdirectories
!*/
#ignore .exe
*.exe


/**/config
/**/assets.raw
/**/.bmx/
/**/MinGW32/

*.exe
*.debug
*.debug.mt
*.debug.exe
*.debug.mt.exe
*.bak

log.app.txt

#ignore binaries in test directory
#ignore all
tests/*
#unignore files with extension
!tests/*.*
#unignore subdirectories
!tests/*/
#ignore .exe
tests/*.exe
#ignore precompilates
tests/.bmx/

